<footer class="summer-site-footer">
    <div class="copyright">
         <section>All content copyright {{ site.owner.name }} &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
         <section>Theme by <a class="icon-ghost" href="https://twitter.com/hmfaysal">Hossain Mohd Faysal</a></section>
    </div>
    <div class="social-icons">

        {% if site.owner.github %}
        <a href="http://github.com/{{ site.owner.github }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}

        <a href="{{ site.url }}/images/wechat-qrcode.png">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-wechat fa-stack-1x"></i>
            </span>
        </a>

        {% if site.owner.linkedin %}
        <a href="https://www.linkedin.com/in/{{ site.owner.linkedin }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}

    </div>
    
    <div class="cf"></div>
</footer>
