    <script src="{{ site.url }}/assets/js/vendor/modernizr.js"></script>
    <script src="{{ site.url }}/assets/js/foundation.min.js"></script>
    {% if page.imagefeature %}<script src="{{ site.url }}/assets/js/vendor/background-check.js"></script>
    <script src="{{ site.url }}/assets/js/vendor/post-header-animations.js"></script>{% endif %}
    <script src="{{ site.url }}/assets/js/summer.js"></script>

    <script>
      $(document).foundation();
    </script>

<script type='text/javascript'>
  $(document).ready(function() {
    $(".time").text(function (index, value) {
      return Math.round(parseFloat(value));
    });
  });
</script>
